/* 
  links
*/

a {
  color: #cc0000; 
/*  font-weight: bold;*/
  text-decoration: none;
}
a:hover {
/*  text-decoration: underline; */
  background: #B4D5FE;
}
a:visited { 
  color: #990000; 
}


/*
  body
*/

body {
  color: #000000; 
  font-family: Verdana, Helvetica, Arial, sans-serif; 
  font-size: 1em;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

h1 {
  color: #333333;
  font-family: Trebuchet MS, Tahoma, Verdana, Helvetica, Arial, sans-serif;
  font-size: 2.3em;
}
h1 a, h1 a:visited { 
  color: #333333;
}
h2 {
  color: #333333;
  font-family: Trebuchet MS, Tahoma, Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.8em;
}
h2 a, h2 a:visited {
  color: #333333;
}
h3 {
/*  font-family: Trebuchet MS, Tahoma, Verdana, Helvetica, Arial, sans-serif;*/
  font-weight: normal;
  font-size: 1em;
}
h4 {
  font-weight: normal;
  font-size: 1em;
}

hr {
  width: 100%;
  height: 1px;
  border: none; /* IE, moz */
  color: #dddddd; /* IE */
  background-color: #dddddd; /* moz, opera */
  margin-top: 1em;
  margin-bottom: 1em;
}

/* ======== */
/* = main = */
/* ======== */

#main .left {
  width: 500px;
  padding-right: 50px;
}

#main .left .footer .date {
  display: none;
}
#main .left .footer .source {
  display: none;
}


#main .right {
  width: 300px;
}

#main .right .stations {
  font-size:0.7em;
}

#main .right .header {
  display: inline;
}
#main .right .body {
  display: inline;
}
#main .right .footer {
  display: inline;
}
#main .right .context {
  display: none;
}
#main .right .footer .source {
  display: none;
}


ul.stations {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
ul.stations li {
  margin-bottom: 1em;
}


/* ============= */
/* = fonts etc = */
/* ============= */

.stations .radiourl {
  font-size: 1.2em;
}
/*.left .stations .header .radiourl {
  padding-right: 1em;
  background-color: #ffffff;
}
*/
.stations .message {
  background-color: #f8f8f8;
}

.right .stations .system .message {
  background-color: #fdfdfd;
}
.right .stations .manualrecs .message {
  background-color: #f0f0ff;
}
.right .stations .usertags .message {
  background-color: #fff0f0;
}
.right .stations .globaltags .message {
  background-color: #ffffe0;
}
.right .stations .groupforums .message {
  background-color: #e8ffe8;
}

.stations .body a {
  color: #000000;
}

.stations .footer {
  font-size: 0.8em;
  color: #cccccc;
}

.stations .context {
  text-indent: 1em;
  color: #cccccc;
}
.stations .context a {
  color: #cccccc;
}

p.about {
  font-size: 0.8em;
}

p.about .credits {
  color: #cccccc;
}
p.about .credits a {
  color: #cccccc;
}

.more {
  margin-top: 2em;
  color: #cccccc;
}
.more a {
  color: #cccccc;
}